# Data Exploration

In this notebook describe your data exploration steps.

## 1. Install dependencies

In [ ]:
%pip install pandas
%pip install SQLAlchemy
%pip install numpy

## 2. Load data

In [72]:
import pandas as pd

df1 = pd.read_sql_table('dataset1', 'sqlite:////Users/miro/PycharmProjects/made-template/data/data/dataset1.sqlite')
df2 = pd.read_sql_table('dataset2', 'sqlite:////Users/miro/PycharmProjects/made-template/data/data/dataset2.sqlite')

## 3. Dataset1: Fahrrad-Dauerzählstellen München

This table represents data with columns: Date, Direction 1, Direction 2, day, month, year and gesamt. Each row corresponds to a specific date, and the values indicate the corresponding values for Direction 1, Direction 2, and the gesamt.

In [58]:
df1.head(8)

       datum  richtung_1  richtung_2  gesamt  day  month  year
0 2011-01-01       115.0        91.0   206.0    1      1  2011
1 2011-01-02       136.0       109.0   245.0    2      1  2011
2 2011-01-03        52.0        29.0    81.0    3      1  2011
3 2011-01-04        23.0        14.0    37.0    4      1  2011
4 2011-01-05        33.0        18.0    51.0    5      1  2011
5 2011-01-06        57.0        25.0    82.0    6      1  2011
6 2011-01-07       135.0       126.0   261.0    7      1  2011
7 2011-01-08       232.0       238.0   470.0    8      1  2011

## 3.1 Data exploration for dataset1: Fahrrad-Dauerzählstellen München

Showing information about the indices and there datatypes

In [59]:
df1.columns

Index(['datum', 'richtung_1', 'richtung_2', 'gesamt', 'day', 'month', 'year'], dtype='object')

These operations will help us analyze the data and understand its distribution, central tendency, variability, and relationships between columns.

In [60]:
df1.describe()

,datum,richtung_1,richtung_2,gesamt,day,month,year
count,365,365.000000,365.000000,365.000000,365.000000,365.000000,365.0
mean,2011-07-02 00:00:00,3096.652055,2457.484932,5554.136986,15.720548,6.526027,2011.0
min,2011-01-01 00:00:00,23.000000,14.000000,37.000000,1.000000,1.000000,2011.0
25%,2011-04-02 00:00:00,1308.000000,856.000000,2161.000000,8.000000,4.000000,2011.0
50%,2011-07-02 00:00:00,2622.000000,1798.000000,4402.000000,16.000000,7.000000,2011.0
75%,2011-10-01 00:00:00,4389.000000,3665.000000,7936.000000,23.000000,10.000000,2011.0
max,2011-12-31 00:00:00,10380.000000,8950.000000,19330.000000,31.000000,12.000000,2011.0
std,NaN,2238.026162,1996.839740,4224.029892,8.808321,3.452584,0.0

Show the total amount of bikers for the whole year

In [61]:
df1['gesamt'].sum()

2027260.0

Correlation matrix between columns

In [63]:
correlation_matrix = df1.corr()
print(correlation_matrix)

               datum  richtung_1  richtung_2    gesamt       day     month  \
datum       1.000000    0.512314    0.551268  0.532043  0.095131  0.996504
richtung_1  0.512314    1.000000    0.989745  0.997717  0.035918  0.512544
richtung_2  0.551268    0.989745    1.000000  0.997132  0.029324  0.551748
gesamt      0.532043    0.997717    0.997132  1.000000  0.032893  0.532392
day         0.095131    0.035918    0.029324  0.032893  1.000000  0.011893
month       0.996504    0.512544    0.551748  0.532392  0.011893  1.000000
year             NaN         NaN         NaN       NaN       NaN       NaN

            year
datum        NaN
richtung_1   NaN
richtung_2   NaN
gesamt       NaN
day          NaN
month        NaN
year         NaN

Showing the amount of bikers for each month

In [64]:
dg = df1.groupby(pd.Grouper(key='datum', freq='M')).sum()
max_month = dg['gesamt'].idxmax()
print(f"The month with the highest total bikers is: {max_month.strftime('%B')}")

The month with the highest total bikers is: August

#### 3.2 correlation between the total number of bikers and the difference between bikers richtung_1 and richtung_2

In [65]:
correlation = df1['gesamt'].corr(df1['richtung_1'] - df1['richtung_2'])
print(f"The correlation coefficient is {correlation:.2f}.")

The correlation coefficient is 0.62.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

#### 3.3 find the day with the lowest total bikers for each month

In [67]:
lowest_bikers_per_month = df1.groupby(df1['datum'].dt.to_period("M"))['gesamt'].idxmin()
result_df = df1.loc[lowest_bikers_per_month]
print(result_df[['month', 'day', 'gesamt']])

     month  day  gesamt
3        1    4    37.0
31       2    1   558.0
85       3   27   512.0
93       4    4  1685.0
146      5   27  1516.0
168      6   18   733.0
203      7   23  2256.0
218      8    7  3221.0
260      9   18  1711.0
280     10    8  2460.0
329     11   26  3322.0
358     12   25   830.0

This will resample the DataFrame df1 by month and sum the values for each month. The result will include the total bikers for each month.

In [86]:
df1.resample('M', on='datum').sum()

            richtung_1  richtung_2    gesamt
datum
2011-01-31     14220.0      9351.0   23571.0
2011-02-28     21554.0     13185.0   34739.0
2011-03-31     42503.0     26141.0   68644.0
2011-04-30     67099.0     42703.0  109802.0
2011-05-31     84903.0     53841.0  138744.0
2011-06-30     73183.0     48762.0  121945.0
2011-07-31    136483.0    108274.0  244757.0
2011-08-31    208900.0    180066.0  388966.0
2011-09-30    172675.0    150474.0  323149.0
2011-10-31    136092.0    117403.0  253495.0
2011-11-30    112598.0     96514.0  209112.0
2011-12-31     60068.0     50268.0  110336.0

This will resample the DataFrame by month, summing the values for each month, and then sort the result based on the total bikers in descending order.

In [91]:
df1.resample('M', on='datum').sum().sort_values('gesamt', ascending=False)

            richtung_1  richtung_2    gesamt
datum
2011-08-31    208900.0    180066.0  388966.0
2011-09-30    172675.0    150474.0  323149.0
2011-10-31    136092.0    117403.0  253495.0
2011-07-31    136483.0    108274.0  244757.0
2011-11-30    112598.0     96514.0  209112.0
2011-05-31     84903.0     53841.0  138744.0
2011-06-30     73183.0     48762.0  121945.0
2011-12-31     60068.0     50268.0  110336.0
2011-04-30     67099.0     42703.0  109802.0
2011-03-31     42503.0     26141.0   68644.0
2011-02-28     21554.0     13185.0   34739.0
2011-01-31     14220.0      9351.0   23571.0

### 4. Data exploration for Dataset 2:  Meteostat Munich Weather Data

Showing information about the indices and there datatypes

In [68]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 0 to 364
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  365 non-null    datetime64[ns]
 1   Average temperature   365 non-null    float64
 2   Min temperature       365 non-null    float64
 3   Max temperature       365 non-null    float64
 4   Total rainfall        365 non-null    float64
 5   Snow-level            365 non-null    float64
 6   Wind-direction        365 non-null    float64
 7   Wind-speed            365 non-null    float64
 8   Lace boe              365 non-null    float64
 9   Air pressure          365 non-null    float64
 10  Duration of sunshine  365 non-null    float64
dtypes: datetime64[ns](1), float64(10)
memory usage: 34.2 KB

Showing the different columns the dataframe has

In [69]:
df2.columns

Index(['Date', 'Average temperature', 'Min temperature', 'Max temperature',
       'Total rainfall', 'Snow-level', 'Wind-direction', 'Wind-speed',
       'Lace boe', 'Air pressure', 'Duration of sunshine'],
      dtype='object')

In [73]:
df2.rename(columns = {'temp':'Average temperature'},inplace =True)
df2.rename(columns = {'dwpt':'Min temperature'},inplace =True)
df2.rename(columns = {'rhum':'Max temperature'},inplace =True)
df2.rename(columns = {'prcp':'Total rainfall'},inplace =True)
df2.rename(columns = {'snow':'Snow-level'},inplace =True)
df2.rename(columns = {'wdir':'Wind-direction'},inplace =True)
df2.rename(columns = {'wspd':'Wind-speed'},inplace =True)
df2.rename(columns = {'wpgt':'Lace boe'},inplace =True)
df2.rename(columns = {'pres':'Air pressure'},inplace =True)
df2.rename(columns = {'tsun':'Duration of sunshine'},inplace =True)

In [74]:
df2

,Average temperature,Min temperature,Max temperature,Total rainfall,Snow-level,Wind-direction,Wind-speed,Lace boe,Air pressure,Duration of sunshine
0,9.1,6.9,12.0,0.2,0.0,244.0,14.0,40.0,1017.6,60.0
1,7.9,5.3,11.9,0.9,0.0,220.0,13.0,54.7,1014.6,0.0
2,5.9,3.4,9.7,2.4,0.0,232.0,13.3,56.9,1022.0,462.0
3,5.5,1.7,10.7,3.8,0.0,263.0,24.1,67.3,1018.4,24.0
4,4.5,1.0,7.4,8.1,0.0,252.0,32.4,100.4,1001.6,0.0
...,...,...,...,...,...,...,...,...,...,...
361,7.6,5.6,9.5,5.8,0.0,245.0,20.5,65.2,1011.9,0.0
362,4.0,1.7,6.3,3.8,0.0,254.0,14.4,56.5,1026.3,12.0
363,4.2,0.4,9.4,0.0,0.0,143.0,8.3,22.3,1023.1,354.0
364,6.5,1.3,9.5,0.0,0.0,243.0,16.6,57.6,1022.4,216.0
365,4.8,0.0,8.0,0.0,0.0,199.0,9.7,33.1,1022.0,204.0

These operations will help us analyze the data and understand its distribution, central tendency, variability, and relationships between columns.

In [50]:
df2.describe()

,Date,Average temperature,Min temperature,Max temperature,Total rainfall,Snow-level,Wind-direction,Wind-speed,Lace boe,Air pressure,Duration of sunshine
count,365,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000
mean,2011-07-02 00:00:00,10.215890,6.065479,14.723562,2.640000,16.100328,193.401141,10.178904,35.287671,1017.097534,312.805479
min,2011-01-01 00:00:00,-12.600000,-16.600000,-9.700000,0.000000,0.000000,0.000000,4.300000,11.900000,993.200000,0.000000
25%,2011-04-02 00:00:00,4.800000,1.300000,7.700000,0.000000,0.000000,97.000000,7.200000,24.100000,1011.800000,36.000000
50%,2011-07-02 00:00:00,10.400000,6.100000,15.500000,0.200000,16.056338,227.000000,9.400000,32.400000,1016.800000,288.000000
75%,2011-10-01 00:00:00,17.300000,11.900000,22.500000,2.800000,16.056338,267.000000,11.500000,43.900000,1022.400000,534.000000
max,2011-12-31 00:00:00,26.500000,20.400000,34.700000,46.300000,200.000000,359.000000,32.400000,100.400000,1037.800000,912.000000
std,NaN,8.299008,7.307591,9.659386,5.413373,28.440646,94.151028,4.170819,14.326061,8.191544,272.399670

#### 4.1 Showing the 8 rows with the largest values in the 'Min temperature' column of the DataFrame df2.

In [75]:
result = df2.nlargest(8, 'Min temperature')
print(result)

     Average temperature  Min temperature  Max temperature  Total rainfall  \
181                 26.1             20.4             32.5             0.0
234                 24.4             20.1             29.3             5.5
209                 23.1             19.5             27.1             0.9
180                 24.8             18.0             32.0             0.6
233                 24.9             18.0             32.0             0.3
236                 21.2             17.9             26.0             9.5
216                 21.7             17.7             26.8             0.3
171                 20.7             17.6             26.9            46.3

     Snow-level  Wind-direction  Wind-speed  Lace boe  Air pressure  \
181         NaN            64.0        10.4      63.4        1010.4
234         NaN           271.0        11.2      42.5        1014.9
209         NaN           211.0         9.4      35.3        1009.8
180         NaN           171.0         9.7      41.4        1010.1
233         NaN           159.0         7.6      41.0        1017.1
236         NaN           222.0        11.5      40.0        1010.6
216         NaN            99.0         9.0      25.2        1013.4
171         NaN           276.0         9.0      59.8        1012.9

     Duration of sunshine
181                 792.0
234                 582.0
209                 288.0
180                 618.0
233                 720.0
236                  66.0
216                 414.0
171                 216.0

#### 4.2 Showing the first 10 rows with the highest values in the 'Wind-speed' column of the DataFrame df2.

In [76]:
result = df2.nlargest(10, 'Wind-speed')
print(result)

     Average temperature  Min temperature  Max temperature  Total rainfall  \
4                    4.5              1.0              7.4             8.1
18                   7.1              4.5              9.5            16.5
21                   5.3              2.7              7.2             1.4
45                   0.3             -1.2              1.4             4.1
357                 10.8              4.1             13.2             0.0
3                    5.5              1.7             10.7             3.8
6                    2.4              1.2              3.8            11.1
5                    1.6              0.1              2.6             2.3
12                   2.1             -0.6              4.0             1.3
20                   3.1             -0.5              8.7             9.7

     Snow-level  Wind-direction  Wind-speed  Lace boe  Air pressure  \
4           0.0           252.0        32.4     100.4        1001.6
18          0.0           255.0        30.6      83.5        1021.0
21          0.0           275.0        28.8      78.1        1011.7
45        200.0           272.0        28.1      70.9        1010.5
357         0.0           247.0        27.7      72.4        1013.0
3           0.0           263.0        24.1      67.3        1018.4
6           0.0           262.0        23.4      62.3        1020.6
5           0.0           286.0        22.3      65.2        1014.0
12          0.0           277.0        22.0      63.4        1025.5
20         60.0           256.0        20.9      83.2        1013.6

     Duration of sunshine
4                     0.0
18                    0.0
21                   66.0
45                    0.0
357                   0.0
3                    24.0
6                     0.0
5                     6.0
12                  168.0
20                    6.0

#### 4.3 Showing the first 10 rows with the lowest values in the 'Wind-speed' column of the DataFrame df2.

In [77]:
result = df2.nsmallest(10, 'Wind-speed')
print(result)

     Average temperature  Min temperature  Max temperature  Total rainfall  \
322                  2.8             -0.9              8.7             0.0
321                  1.6             -0.8              5.2             0.0
51                  -2.2             -6.5              3.2             0.0
326                  5.0              0.9              7.1             0.8
328                  6.4              2.8             11.3             0.0
26                  -0.6             -2.8              1.6             3.5
68                   2.7             -1.0              7.7             0.0
75                  11.7              1.5             21.8             0.0
221                 18.6             12.6             24.8             0.0
283                  8.9              6.6             11.0             2.9

     Snow-level  Wind-direction  Wind-speed  Lace boe  Air pressure  \
322         0.0            84.0         4.3      11.9        1015.8
321         0.0            95.0         4.7      12.6        1016.7
51         70.0           310.0         5.0      15.5        1033.9
326         0.0            85.0         5.0      18.4        1025.0
328         0.0            80.0         5.0      26.6        1020.5
26         30.0            71.0         5.4      14.0        1024.6
68          0.0           284.0         5.4      18.4        1037.8
75          0.0           203.0         5.4      19.8        1024.2
221         NaN             8.0         5.4      20.9        1022.9
283         0.0            39.0         5.4      16.2        1014.6

     Duration of sunshine
322                 288.0
321                 318.0
51                  582.0
326                   0.0
328                 300.0
26                    0.0
68                  348.0
75                  684.0
221                 594.0
283                   0.0

#### 4.4 Showing the first 5 rows with the lowest values in the 'Air pressure' column of the DataFrame df2.

In [79]:
result = df2.nsmallest(5, 'Air pressure')
print(result)

     Average temperature  Min temperature  Max temperature  Total rainfall  \
109                 10.6              5.0             16.8             1.8
305                  7.3              3.2             12.8             2.6
141                 19.7             13.9             25.6             0.0
300                  2.2             -1.4              5.6            19.1
333                  1.3              0.5              4.3             9.9

     Snow-level  Wind-direction  Wind-speed  Lace boe  Air pressure  \
109         0.0           135.0         8.6      41.4         993.2
305         0.0           247.0         9.4      31.0         993.3
141         NaN           104.0        11.2      44.3         997.0
300         0.0           359.0        11.2      32.8         997.8
333         0.0           261.0        15.1      45.0         997.9

     Duration of sunshine
109                 612.0
305                 156.0
141                 360.0
300                   0.0
333                   0.0

#### 4.5 Showing the first 5 days on which the daily Max temperature is the lowest.

In [81]:
df2.nsmallest(5, 'Max temperature')

,Average temperature,Min temperature,Max temperature,Total rainfall,Snow-level,Wind-direction,Wind-speed,Lace boe,Air pressure,Duration of sunshine
37,-11.6,-13.2,-9.7,1.3,60.0,25.0,10.4,32.0,1033.0,30.0
36,-12.6,-16.1,-9.4,1.1,50.0,53.0,7.2,19.4,1033.9,186.0
34,-12.0,-15.0,-9.1,0.0,40.0,63.0,9.7,27.7,1036.3,396.0
33,-11.6,-13.9,-8.4,0.0,40.0,43.0,11.2,31.3,1032.1,504.0
40,-9.5,-10.4,-8.4,0.3,110.0,47.0,10.4,32.0,1034.9,120.0

#### 4.6 Showing the first 5 rows with the smallest values in the 'Max temperature' column of the DataFrame df2.

In [92]:
df2.sort_values(['Min temperature'], ascending=[True]).head(5)

,Average temperature,Min temperature,Max temperature,Total rainfall,Snow-level,Wind-direction,Wind-speed,Lace boe,Air pressure,Duration of sunshine
42,-12.0,-16.6,-7.1,0.0,100.0,78.0,6.8,20.5,1031.4,534.0
36,-12.6,-16.1,-9.4,1.1,50.0,53.0,7.2,19.4,1033.9,186.0
34,-12.0,-15.0,-9.1,0.0,40.0,63.0,9.7,27.7,1036.3,396.0
43,-8.2,-14.5,-4.5,3.9,100.0,248.0,9.7,28.8,1025.0,0.0
35,-11.6,-14.4,-7.5,0.0,50.0,79.0,10.4,32.4,1033.9,492.0